.imagen-principal {
    background-image: url("https://wallpapers.com/images/hd/4k-food-spicy-anchovy-and-vegetable-8cpwbbaa11kpxx9x.jpg"); 
    align-items: center;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    width: auto;
    height: 350px;
}

.imagen2 {
    background-image: url("https://media.elestimulo.com/2021/01/GPC-GALO-1024x683.jpg");
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center;
    height: 700px;
    width: auto;

}

a:hover{
    color: RED;
}

.ul-principal {
    list-style: none;
    font-size: 50px;
    line-height: 100px;
    font-family: 'Times New Roman', Times, serif;
}

a {
    text-decoration: none;
}

.h1-principal {
    text-align: center;
    color: white;
    font-size: 150px;
    font-family: 'Times New Roman', Times, serif;
}

.h1-2 {
    text-align: center;
    position: relative;
    top: 700px;
}